include mixins/head
include mixins/footer

+head('New Account')

body
  p: a(href="/") < Home
  h1 New Account
  form(action="/user/signup" method="POST")
    input(type="text" name="username" placeholder="Login")
    br
    input(type="password" name="password" placeholder="Password")
    br
    input(type="password" name="confirmPassword" placeholder="Confirm password")
    br
    input(type="submit" value="Sign Up")


  +footer()